.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "Whisper";
  src: url("./fonts/Whisper-Regular.ttf");
  font-weight: 400;  
}

@font-face {
  font-family: "Kalnia-Light";
  src: url("./fonts/Kalnia-Light.ttf");
  font-weight: 300;  
}

@font-face {
  font-family: "PTSansNarrow-Regular";
  src: url("./fonts/PTSansNarrow-Regular.ttf");
  font-weight: 300;  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.tip-tap 
h1,
h2,
h3 {
  font-family: "PTSansNarrow-Regular" !important;
  color: red !important;
}

p {
  font-family: "Kalnia-Light" !important;
  color: blue !important;
}